{% extends 'base_site.html' %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="../static/css/base.css">
{% endblock %}
{% block content %}
    <div class="custom-flex-box">
        <h2>{{ title }}</h2>
    </div>
    <div class="custom-flex-box">
        {% if short_url %}
            <div class="card">
                <div class="container">
                    <label for="short_url">
                        <b>{% trans "Short URL" %}:</b>
                    </label>
                    <span id="short_url">{{ short_url }}</span>
                </div>
            </div>
        {% endif %}
        <div class="card">
            <form class="container" action="{% url 'shorten_url' %}" method="post">
                {% csrf_token %}
                <label for="url">{% trans "URL" %}:</label>
                <input id="url" type="text" name="url"/>
                <label for="algorithm">{% trans "Pick an algorithm" %}:</label>
                <select id="algorithm" name="algorithm">
                    <option value="ran">Random</option>
                    <option value="md5">MD5</option>
                    <option value="sha256">SHA 256</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}